{% extends 'layout.html'%}
      {% block content %}
      <h3>Dashboard</h3>
      <div class="card mt-3">
        <div class="card-body pt-2">
          <div class="row">
            <div class="col-md-15 me-auto text-left">
              <h5>เว็บไซต์ที่รวบรวมข้อมูลหลักสูตรในระดับปริญญาโท ของหลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ ไว้เพื่อเป็นแหล่งศึกษาข้อมูลรายวิชาได้รวดเร็วและสามารถเข้าถึงได้อย่างสะดวก</h5>
              <br>
              <h6>เพื่ออำนวยความสะดวกแก่นิสตและผู้ที่มีความสนใจ ในเนื้อหาหลักสูตรของสาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ รวมทั้งยังมี Links หน่วยงานที่เกี่ยวข้องและเอกสาร แบบฟอร์มที่จำเป็นไว้ในที่เดียว
              คาดหวังว่าเว็บไซต์นี้จะเป็น ตัวช่วยให้อำนวยความสะดวกในการเรียนการสอนของนิสิต รวมทั้งเป็นประโยชน์ต่อผู้ที่สนใจให้สามารถเข้าถึงแหล่งข้อมูลที่ครบและจบในที่เดียว</h6><br>
            </div>
            </div>
            </div>
        </div>
      </div>
     
    {% endblock %}